# Dependency directories
node_modules/

# Next.js build output
.next/

# Static file generation (for `next export`)
out/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE or editor files
.vscode/
.idea/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production